<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCis4TSFhyV7HcjzsTHvFK3OrCYDC6Txx0</string>
	<key>GCM_SENDER_ID</key>
	<string>958000163421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.semanaAcademica</string>
	<key>PROJECT_ID</key>
	<string>experiencialasalle</string>
	<key>STORAGE_BUCKET</key>
	<string>experiencialasalle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958000163421:ios:9a606d8ca3f56fbb733bb4</string>
</dict>
</plist>